@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
/* Primary */

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* Neutral */

--MainBG-blue: hsl(217, 54%, 11%);
--Card-BG-blue: hsl(216, 50%, 16%);
--Line-blue: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display:flex;
    align-items: center;
    font-size: 18px;
    color: var(--Soft-blue);
    background-color: var(--MainBG-blue);
}

.card{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--Card-BG-blue);
    padding: 2rem;
    border-radius : 18px;
    width: 360px;
}

.card > img{
    border-radius : 12px;
    width: 100%;
}

.text{
    margin : 2rem 0 ;
}

h1{
    margin-bottom: 1rem;
    color: var(--White);
    font-weight:600; 
}
P{
    margin-bottom: 1rem;
    font-weight: 400;
}

.line{
    border : 1px var(--Line-blue) solid;
    margin-bottom: 1rem;
}

.detail{
    display:flex;
    justify-content:space-between;
}
.detail span{
    display:flex;
    align-items: center;
}
.ethereum{
    color: var(--Cyan);
}
.creation{
    display:flex;
    align-items:center;
}
.avatar{
    width: 10%;
    margin-right: 20px;
    border: 1px var(--White) solid;
    border-radius: 50%;
}
.name{
    color: var(--White);
    margin-left: 5px;
}

/* active */

h1:hover{
    color: var(--Cyan);
}

.name:hover{
    color: var(--Cyan);
}
